<launch>

    <arg name="use_sim_time" value="false" />

    <node name="kittiHelper" pkg="mloam" type="kittiHelper" output="screen"> 
        <arg name="dataset_folder" value="/Monster/dataset/KITTI/odometry/" />
        <arg name="sequence_number" value="00" />
        <arg name="to_bag" value="true" />
        <!-- replace with your output folder -->
        <arg name="output_bag_file" value="/Monster/dataset/KITTI/odometry/$(arg sequence_name).bag" /> 
        <arg name="publish_delay" value="1" />
    </node>
    
</launch>