<launch>

    <arg name="bag_file_use" default="true" />
    <arg name="config_file" default="$(find mloam)/../config/config_handheld_20200131.yaml" />
    <arg name="base_link" default="base_link" />

    <!-- Ros Bag -->
    <param name="/use_sim_time" value="true" />
    <group if="$(arg bag_file_use)">
        <arg name="bag_file" default="/Monster/dataset/lidar_calibration/handheld_20200131/ri_room_odometry_1_filter.bag" />
        <node pkg="rosbag" type="play" name="rosbag" args="--clock --pause -r 0.5 $(arg bag_file)" />
    </group>

    <node pkg="mloam" type="mloam_node_rhd" name="mloam_node_rhd" args="$(arg config_file)"/>

    <node pkg="mloam" type="lidar_mapper" name="lidar_mapper" args="$(arg config_file)" output="screen"/>

    <!-- publish static tf -->
    <!-- x y z yaw pitch roll -->
    <!-- x y z qx qy qz qw -->
    <node name="static_tf_world_base_into_world_sensor" pkg="tf" type="static_transform_publisher"
        args="0 0 0 -0.17364 0 0 0.98481 world_base world 10"/>
    <node name="static_tf_world_sensor_into_base_sensor" pkg="tf" type="static_transform_publisher"
        args="0 0 0 0 0 0 1 world laser_0 10"/>

 </launch>
