<launch>

    <arg name="bag_file_use" default="true" />
    <arg name="config_file" default="$(find mloam)/../config/config_handheld_w_gt.yaml" />
    <arg name="base_link" default="base_link" />

    <!-- Ros Bag -->
    <param name="/use_sim_time" value="true" />
    <group if="$(arg bag_file_use)">
        <arg name="bag_file" default="/Monster/dataset/lidar_calibration/handheld_20200201/ri_room_calibration_filter.bag" />
        <!-- <arg name="bag_file" default="/Monster/dataset/lidar_calibration/handheld_20200201/ri_room_odometry_1_filter.bag" /> -->
        <!-- <arg name="bag_file" default="/Monster/dataset/lidar_calibration/handheld_20200201/ri_room_odometry_2_filter.bag" /> -->
        <!-- <arg name="bag_file" default="/Monster/dataset/lidar_calibration/handheld_20200201/ri_room_odometry_3_wo_gt_filter.bag" /> -->
        <node pkg="rosbag" type="play" name="rosbag" args="--clock --pause -r 1 $(arg bag_file)" />
    </group>

    <node pkg="mloam" type="mloam_node_rhd" name="mloam_node_rhd" args="$(arg config_file)" output="screen">
        <remap from="/base_pose_gt" to="/Robot_2/pose" />
    </node>

    <!-- <node pkg="mloam" type="lidar_mapper" name="lidar_mapper" args="$(arg config_file)" output="screen"/> -->

    <!-- publish static tf -->
    <!-- x y z yaw pitch roll -->
    <!-- x y z qx qy qz qw -->
    <node name="static_tf_world_base_into_world_sensor" pkg="tf" type="static_transform_publisher"
        args="0 0 0 -0.233 0 0 0.972 world_base world 10"/>
    <node name="static_tf_world_sensor_into_base_sensor" pkg="tf" type="static_transform_publisher"
        args="0 0 0 0 0 0 1 world laser_0 10"/>

 </launch>
